
<footer class="main-footer">
    <div class="container">
        
        <div class="main-footer__content">
            <div class="row">
                
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="main-footer__column">
                        <h6 class="main-footer__title">Find Remote Work From Home & Flexible Jobs</h6>
                        <ul class="main-footer__links">
                            <li><a href="browse-jobs.html?filter=new" class="main-footer__link">New Remote Jobs Hiring Now</a></li>
                            <li><a href="browse-jobs.html?location=remote" class="main-footer__link">Remote Jobs Near Me</a></li>
                            <li><a href="browse-jobs.html?type=part-time" class="main-footer__link">Part-Time Remote Jobs</a></li>
                            <li><a href="browse-jobs.html?level=entry" class="main-footer__link">Entry Level Remote Jobs</a></li>
                            <li><a href="browse-jobs.html?type=freelance" class="main-footer__link">Freelance Remote Jobs</a></li>
                            <li><a href="job-category.html" class="main-footer__link">Browse Remote Jobs by Category</a></li>
                            <li><a href="remote-jobs.html" class="main-footer__link">Browse Top Work From Home Jobs</a></li>
                            <li><a href="browse-jobs.html?type=full-time" class="main-footer__link">Full-Time Remote Jobs</a></li>
                            <li><a href="browse-jobs.html?type=temporary" class="main-footer__link">Temporary Remote Jobs</a></li>
                            <li><a href="where-remote.html" class="main-footer__link">Work from Anywhere Jobs</a></li>
                        </ul>
                    </div>
                </div>

                
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="main-footer__column">
                        <h6 class="main-footer__title">About FlexJobs</h6>
                        <ul class="main-footer__links">
                            <li><a href="statistics.html" class="main-footer__link">FlexJobs Reviews</a></li>
                            <li><a href="about.html" class="main-footer__link">How FlexJobs Works</a></li>
                            <li><a href="blog.html" class="main-footer__link">Press & Awards</a></li>
                            <li><a href="about.html#careers" class="main-footer__link">Careers at FlexJobs</a></li>
                            <li><a href="#" class="main-footer__link">FlexJobs App</a></li>
                            <li><a href="about.html#affiliate" class="main-footer__link">Affiliate Program</a></li>
                            <li><a href="support.html" class="main-footer__link">Contact Us</a></li>
                            <li><a href="faq.html#fraud" class="main-footer__link">Fraud Awareness</a></li>
                        </ul>
                    </div>
                </div>

                
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="main-footer__column">
                        <h6 class="main-footer__title">Job Search Resources</h6>
                        <ul class="main-footer__links">
                            <li><a href="browse-jobs.html?experience=no-experience" class="main-footer__link">Work from Home Jobs No Experience</a></li>
                            <li><a href="career-advice.html" class="main-footer__link">How To Make Money Online</a></li>
                            <li><a href="browse-jobs.html?schedule=weekend" class="main-footer__link">Weekend Jobs</a></li>
                            <li><a href="browse-jobs.html?type=side-hustle" class="main-footer__link">Side Hustle Jobs from Home</a></li>
                            <li><a href="salary-preference.html" class="main-footer__link">High Paying Remote Jobs</a></li>
                            <li><a href="why-remote.html" class="main-footer__link">Best Remote Companies to Work For</a></li>
                            <li><a href="career-advice.html" class="main-footer__link">Informational Guides</a></li>
                            <li><a href="agents.html" class="main-footer__link">ExpertEasy: Auto Apply for Jobs</a></li>
                            <li><a href="upload-resume.html" class="main-footer__link">Online Resume Builder</a></li>
                        </ul>
                    </div>
                </div>

                
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="main-footer__column">
                        
                        

                        
                        <div class="main-footer__reviews">
                            <h6 class="main-footer__title">Reviews of FlexJobs</h6>
                            <div class="main-footer__review-rating">
                                <span class="main-footer__rating-text">Excellent</span>
                                <div class="main-footer__stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="main-footer__rating-score">4.6 out of 5</span>
                            </div>
                            <div class="main-footer__sitejabber">
                                <img src="images/site-jabber.png" alt="Sitejabber" class="main-footer__sitejabber-logo">
                            </div>
                        </div>

                        
                        <div class="main-footer__partner">
                            <h6 class="main-footer__title">Partner Sites</h6>
                            <a href="https://remote.co" class="main-footer__partner-link" target="_blank">
                                <span class="main-footer__partner-name">REMOTE.CO</span>
                            </a>
                        </div>

                        
                        
                    </div>
                </div>
            </div>
        </div>

        
        <div class="main-footer__bottom">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="main-footer__disclaimer">
                        <p class="main-footer__disclaimer-text">
                            The names and logos of the companies referred to above are all trademarks of their respective holders. Unless specifically stated otherwise, such references are not intended to imply any affiliation or association with FlexJobs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
