
<header class="main-header">
    
    <div class="main-header__top-row">
        <div class="container-fluid">
            <div class="row align-items-center">
                
                <div class="col-auto d-lg-none">
                    <button class="main-header__hamburger" id="mobileMenuToggle" aria-label="Menu">
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                    </button>
                </div>
                
                
                <div class="col-auto d-lg-block d-none main-header__logo-container">
                    <a href="index.html">
                        <img src="images/FlexJobs_logo-1.png" alt="FlexJobs" class="main-header__logo">
                    </a>
                </div>
                
                
                <div class="col d-lg-none text-center main-header__logo-container">
                    <a href="browse-jobs.html">
                        <img src="images/FlexJobs_logo-1.png" alt="FlexJobs" class="main-header__logo">
                    </a>
                </div>
                
                
                <div class="col d-none d-lg-block">
                    <div class="main-header__search-container">
                        <div class="main-header__search-bar">
                            <div class="search-input-group">
                                <i class="fas fa-search search-icon"></i>
                                <input type="text" class="search-input" placeholder="Search jobs and agents...">
                            </div>
                            <div class="location-input-group">
                                <i class="fas fa-map-marker-alt location-icon"></i>
                                <select class="location-input">
                                    <option value="">Location</option>
                                    <option value="remote">Remote</option>
                                    <option value="us">US</option>
                                    <option value="world">World</option>
                                </select>
                            </div>
                            <button class="search-btn" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-auto">
                    
                    <div class="d-lg-none">
                        <button class="main-header__message-btn" aria-label="Messages">
                            <i class="fas fa-envelope"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="main-header__mobile-search d-lg-none">
        <div class="container-fluid">
            <div class="main-header__search-bar">
                <div class="search-input-group">
                    <i class="fas fa-search search-icon"></i>
                    <input type="text" class="search-input" placeholder="Search jobs and agents...">
                </div>
                <div class="location-input-group">
                    <i class="fas fa-map-marker-alt location-icon"></i>
                    <select class="location-input">
                        <option value="">Location</option>
                        <option value="remote">Remote</option>
                        <option value="us">US</option>
                        <option value="world">World</option>
                    </select>
                </div>
                <button class="search-btn" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    
    
    <div class="main-header__nav-row">
        <div class="container-fluid">
            <nav class="main-header__nav">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <ul class="nav-list d-none d-lg-flex">
                         <li class="nav-item">
                            <a href="browse-jobs.html" class="nav-link">Find Remote, Hybrid, & Flexible Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">How FlexJobs Works</a>
                        </li>                  
                       
                        <li class="nav-item">
                            <a href="career-advice.html" class="nav-link">Career Advice</a>
                        </li>
                        <li class="nav-item">
                            <a href="events.html" class="nav-link">Events & Webinars</a>
                        </li>
                        <li class="nav-item">
                            <a href="blog.html" class="nav-link">Job Search Articles</a>
                        </li>
                        
                    </ul>
                    
                    
                    <div id="navbarAuth" class="d-none d-lg-block">
                        <div class="dropdown">
                            <button class="main-header__account-btn dropdown-toggle" type="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                My Account
                                <i class="fas fa-chevron-down ms-1"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                                <li><a class="dropdown-item" href="account.html">Account Details</a></li>
                                <li><a class="dropdown-item" href="faq.html">FAQs</a></li>
                                <li><a class="dropdown-item" href="support.html">Customer Support</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item logout-btn" href="#"><i class="fas fa-sign-out-alt me-2"></i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    
    
    <div class="mobile-menu-overlay"></div>
    
    
    <div class="main-header__mobile-menu" id="mobileMenu">
        <div class="mobile-menu__content">
            <nav class="mobile-menu__nav">
                <ul class="mobile-nav-list">
                    <li class="mobile-nav-item">
                        <a href="browse-jobs.html" class="mobile-nav-link">
                            Find Jobs
                        </a>
                    </li>
                    <li class="mobile-nav-item">
                        <a href="career-advice.html" class="mobile-nav-link">
                            Career Advice
                        </a>
                    </li>
                    <li class="mobile-nav-item">
                        <a href="events.html" class="mobile-nav-link">
                            Events & Webinars
                        </a>
                    </li>
                    <li class="mobile-nav-item">
                        <a href="blog.html" class="mobile-nav-link">
                            Job Search Articles
                        </a>
                    </li>
                    <li class="mobile-nav-item">
                        <a href="about.html" class="mobile-nav-link">
                            About
                        </a>
                    </li>
                </ul>
                
                
                <div id="mobileNavbarAuth" class="mobile-menu__account">
                    <hr class="mobile-menu__divider">
                    <ul class="mobile-account-list">
                        <li class="mobile-account-item">
                            <a href="#" class="mobile-account-link">
                                Profile
                            </a>
                        </li>
                        <li class="mobile-account-item">
                            <a href="#" class="mobile-account-link">
                                Saved Jobs
                            </a>
                        </li>
                        <li class="mobile-account-item">
                            <a href="#" class="mobile-account-link">
                                Applications
                            </a>
                        </li>
                        <li class="mobile-account-item">
                            <a href="#" class="mobile-account-link logout-link logout-btn">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
        
    </div>
</header>
